<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRASSERIE</title>
    <link th:href="@{~/css/styles.css}" rel="stylesheet" />
    <link th:href="@{~/css/custom.css}" rel="stylesheet" />
</head>

<body>
<div style="overflow: hidden;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#212529" fill-opacity="1" d="M0,288L288,192L576,192L864,256L1152,288L1440,256L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
    </svg>
</div>
<footer class="py-4 bg-dark mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">

            <div class="text-muted">Copyright &copy; BEERBOARD 2022</div>
            <!-- HTML !-->
            <button class="button-81" role="button">Mentions Légales</button>
                &middot;
            <button class="button-81" role="button">Conditions</button>

        </div>
    </div>
</footer>

</body>

</html>

